
// Colors
// -------------

$gray-base:             #000 !default;
$gray-darker:           lighten($gray-base, 13.5%) !default; // #222
$gray-dark:             lighten($gray-base, 20%) !default;   // #333
$gray:                  lighten($gray-base, 33.5%) !default; // #555
$gray-light:            lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:          lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest:         lighten($gray-base, 96%) !default;

$text-color:            #000;

$brand-primary:         #24b32b;
$brand-secondary:       #0043be;
$brand-terciary:        #e7e7e7;

$link-color:            $brand-primary;
$link-hover-color:      $link-color;
$link-hover-decoration: underline;


// Typography
// -------------

$font-size-base:          18px;

$font-family-sans-serif:  "PT Sans Narrow", Helvetica, Arial, sans-serif;
$font-family-serif:       "Oswald", "Times New Roman", Times, serif;
$font-family-base:        $font-family-sans-serif;

$font-weight-300:         300;
$font-weight-400:         400;
$font-weight-600:         600;
$font-weight-700:         700;

$headings-font-weight:    $font-weight-600;


// Container sizes
// -------------

$grid-gutter-width:        30px;

// Large screen / wide desktop
$container-large-desktop:  (1050px + $grid-gutter-width);


// Main Entity Logo
// -------------

$main-entity-logo-width:   120px;
$main-entity-logo-height:  74px;


// Navbar
// -------------

$navbar-border-radius: 0;

// Point at which the navbar becomes uncollapsed
$grid-float-breakpoint: 992px;  // $screen-md

$dvmi-menu-length: 3;  // Number of items in main menu

// Navbar background color
$navbar-default-bg:       white;
$navbar-default-bg-hover: white;

// Navbar options text color
$dvmi-navbar-color: $text-color;

$navbar-default-link-active-color:    $brand-primary;
$navbar-default-link-active-bg:       white;


// Footer
// --------------

$footer-color: white;
$footer-bg: #2B282B;


// Page Header
// --------------

$page-header-bg:            mix($brand-terciary, white, 25%);
$page-header-border-color:  $brand-primary;


// Panels
// ---------------

$panel-default-border:      $brand-secondary;
$panel-default-heading-bg:  $brand-secondary;


// Buttons
// --------------

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-secondary;
$btn-primary-border:             $brand-secondary;

$btn-border-radius-base:         0;
$btn-border-radius-large:        0;
$btn-border-radius-small:        0;


// Border Radius
// --------------

$border-radius-base:  0;
$panel-border-radius: 0;


// Breadcrumbs
// --------------

$breadcrumb-padding-vertical:   $grid-gutter-width/2;
$breadcrumb-padding-horizontal: $grid-gutter-width/2;
$breadcrumb-bg:                 transparent;
$breadcrumb-color:              $gray-light;
$breadcrumb-separator:          "»";


// Popover
// --------------

$popover-max-width:                   250px;

$popover-border-color:                transparent;
$popover-fallback-border-color:       transparent;

$popover-arrow-width:                 6px;

$popover-arrow-outer-color:           white;
$popover-arrow-outer-fallback-color:  white;


// Tooltips
// --------------

$tooltip-color:               white;
$tooltip-bg:                  $gray;
$tooltip-opacity:             1;


// Modals
// --------------

//** Modal backdrop opacity
$modal-backdrop-opacity:      .75;


// Pagination
// --------------

$pagination-color:                     $brand-secondary;
$pagination-hover-color:               $brand-secondary;

$pagination-active-bg:                 $brand-secondary;
$pagination-active-border:             $brand-secondary;


// Search Form
// --------------

$search-form-bg: $brand-terciary;


// Budget Stream
// --------------

$budget-stream-color: $brand-secondary;


// Year Slider
// --------------

$slider-bg:     $page-header-bg;
$slider-color:  $brand-secondary;


// Data Sources
// --------------

$data-sources-color: mix( $brand-terciary, #2B282B, 60% );


// Sankey Viz
// --------------

$sankey-income-color:   darken($brand-primary, 10%);
$sankey-expense-color:  $brand-secondary;
