@import "theme-variables";

.main-entity-logo{
  margin: 2*$grid-gutter-width/3 auto;
}

.navbar-brand{
  font-size: 4.8rem;
  font-family: $font-family-serif;
  font-weight: $font-weight-400;
  text-transform: uppercase;

  a{
    color: $text-color;

    &:hover{
      color: $brand-primary;
    }
  }
}

.navbar-default{
  font-size: 1.25em;
  font-family: $font-family-serif;
  border-top: 3px solid $brand-primary;
  border-bottom: 3px solid $brand-primary;

  @media (max-width: $grid-float-breakpoint) {
    background: $brand-primary;
  }

  .navbar-nav>li>a:hover{
    color: mix( $text-color, white, 75% );
  }

  .navbar-nav>li.active>a,
  .navbar-nav>li.active>a:hover,
  .navbar-nav>li.active>a:focus{
    font-weight: $font-weight-400;
  }

  .navbar-toggle{
    font-size: 1em;

    &:hover,
    &:focus{
      background: none;
    }
  }
}

.open-data-logo{
  margin-bottom: 2*$grid-gutter-width/3;
  display: block;
  color: $text-color;
  font-size: 2.375rem;
  font-family: $font-family-serif;
  font-weight: $font-weight-300;
  text-transform: uppercase;

  &:hover,
  &:focus{
    text-decoration: none;
  }

  strong{
    color: $brand-secondary;
  }

  @media (min-width: $grid-float-breakpoint) {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.5em;
    z-index: 90;
  }
}

.form-search .form-inline{
  label{
    font-weight: $font-weight-400;
  }
  .btn{
    padding-top: 5px;
    padding-bottom: 5px;

    &:before{
      content: "";
      display: none;
    }
  }
  .form-control{
    border-color: $brand-secondary;
  }
}

.home-content .expense-examples li a{
  color: $brand-secondary;
}
.home-content .options .option>div h3{
  margin-top: $grid-gutter-width;
}


.page-title{
  font-size: 2em;
}

.budget-intro .budget-step h3 span{
  font-size: 3em;
}
.budget-intro .budget-step h3 strong,
.budget-intro .budget-step .desc{
  font-size: .75em;
}

.data-controllers .chart-embed-btn span,
.data-controllers .chart-embed-btn a{
  top: 53px;
  width: 38px;
  height: 38px;
}

table.table-grid tr td .toggle.expand,
table.table-grid tr td .toggle.collapse{
  margin-top: 4px;
  line-height: 24px;
}

.tax-receipt-content .form-user-incomings h3{
  font-weight: 300;
}
.tax-receipt-content #tax-amount{
  color: white;
  background: $brand-secondary;
}


.main-footer{
  padding-bottom: $grid-gutter-width/2;

  .credit-aragon{
    font-size: 1.6rem;
    text-align: center;

    @media (min-width: $screen-md-min) {
      text-align: left;
    }
  }
}


// At budget summary show labels in small items on hover
.budget-summary-item.active .budget-summary-label.disabled{
  visibility: visible;
}


/* http://www.vitoria-gasteiz.org/we001/was/we001Action.do?accionWe001=ficha&accion=home */
.nav-aux {
  margin: 0;
  padding: 7px 0;
  background: $brand-terciary;
  /* Tamaño de fuente base del componente: */
  font-size: 1.6rem;
  text-align: left;

  a{
    color: $text-color;

    &:hover{
      color: $brand-primary;
      text-decoration: none;
    }
  }


  .logo-nav-aux {
    padding-right: 0;
    width: 50%;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 1.4rem;
      line-height: 1em;
      width: 142px;
    }
    @media (min-width: $screen-md-min) {
      width: 222px;
    }
    @media (min-width: $screen-lg-min) {
      width: 332px;
    }
    /*
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;

    @media (min-width: 768px) {
      width: 15%;
      //font-size: .889em;
    }

    @media (min-width: 992px) {
      width: 21%;
    }

    a {
      line-height: 25px;

      @media (min-width: 768px) and (max-width: 991px) {
        line-height: 1;
      }
      @media (max-width: 480px) {
        line-height: 1.2;
      }
    }
    */
  }

  .header-menu {
    padding: 0 6px 0 0;
    width: 463px;

    @media (min-width: $screen-md-min) {
      width: 611px;
    }

    /*
    float: left;
    width: 9%;
    margin: 0;
    margin-left: 3%;
    padding: 0;
    */
    text-align: right;

    /*
    @media (min-width: 768px) {
      width: 65%;
      margin-left: 5%;
    }

    @media (min-width: 992px) {
      width: 65%;
      margin-left: 0;
    }
    */

    ul {
      margin: 0;
      padding: 0;

      @media (min-width: 768px) and (max-width: 991px) {
        display: table;
        float: right;
        height: 2em;
        padding: 0;
      }
    }

    li {
      display: inline-block;
      margin: 0;
      padding: 0 7px;
      list-style: none;
      border-right: 1px solid #000;
      line-height: 23px;
    }

    li.last {
      display: inline-block;
      padding-right: 0;
      border-right: none;
    }

    a {
      padding-left: 29px;
      text-align: left;
    }

    a.icon-wheel {
      padding-left: 26px;
    }

    a.icon-telephone {
      padding-left: 21px;
    }

    /* Turismo */
    a.imgContacto {
      padding-left: 30px;
    }

    @media (max-width: 767px) {
      li {
        display: none;
      }
      li.last span {
        display: none;
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      li,
      li.last {
        display: table-cell;

        vertical-align: middle;

        line-height: 1;
      }
    }
  }

  .lang-select {
    float: right;
    width: 137px;
    //width: 50%;
    padding-left: 0;
    text-align: right;

    /*
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: 97px;
      #menu-lang{
        margin-top: 0;
        ul li{
          float: right;
          border-color: transparent;
        }
      }
    }
    @media (min-width: $screen-md-min) {
      width: 137px;
    }
    */

    /*
    float: left;
    width: 35%;
    margin: 0;
    margin-left: 3%;
    padding: 0;

    @media (min-width: 768px) {
      width: 13%;
      margin-left: 2%;
    }

    @media (min-width: 992px) {
      width: 12%;
      margin-left: 2%;
    }
    */
  }
}

#menu-lang{
  margin-top: 3px;

  ul li{
    padding: 0 6px;

    &:last-child{
      padding-right: 0;
    }
  }

  ul li input[type=submit]{
    color: $text-color;
  }
}


/* http://www.vitoria-gasteiz.org/http/comun/j38-01/css/layout/footer/_main-footer.css */

#anclaFooter {
  padding-top: 1em;
  padding-bottom: 1em;
  letter-spacing: .1em;
  font-size: .8em;

  a{
    color: white;
  }

  @media (max-width: 991px) {
    text-align: center;
    font-size: .889em;
  }

  address {
    font-style: inherit;
    margin-bottom: 0;

    @media (max-width: 991px) {
      padding-bottom: 1em;

      a {
        display: inline;
        padding: 0;
        background: none;
      }
      > a::after {
        content: '\A';
        white-space: pre;
      }
    }

    @media (min-width: 992px) {
      padding-top: .2em;
      padding-bottom: 0;

      a {
        display: inline-block;

        margin: .4em 1em;
        padding-left: 35px;
      }
      .secundary-telephone {
        padding-left: 0;
      }
      .icon-place {
        display: block;
      }
    }
  }

  .footer-menu {
    padding-top: 1em;
    padding-bottom: .6em;

    ul, li {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-left: 0;
      padding-left: .4em;
      float: none;
      border: none;
      border-left: 1px solid #fff;
    }

    :first-child {
      border: none;
    }

    @media (min-width: 992px) {
      text-align: right;
    }
  }

  @media (min-width: 992px) {
    address,
    .footer-menu{
      display: block;
      border-left: 1px solid #fff;
    }
  }
}

/* http://www.vitoria-gasteiz.org/http/comun/j38-01/css/base/_icons.css */

.icon-council-header,
.icon-chat,
.icon-computer,
.icon-telephone,
.icon-wheel,
.icon-place,
.icon-envelope,
.icon-smartphone {
  display: inline-block;
  background: url(../assets/sprite.png) no-repeat;
}
.icon-council-header{
  min-height: 25px;
  padding-left: 22px;
  background-position: 0 -478px;
}
.icon-chat {
  min-height: 18px;
  padding-left: 25px;
  background-position: 0 -281px;
}
.icon-computer {
  min-height: 21px;
  padding-left: 24px;
  background-position: 0 -339px;
}

.icon-telephone {
  min-height: 23px;
  padding-left: 18px;
  background-position: -559px -561px;
}
.icon-wheel {
  min-height: 23px;
  padding-left: 23px;
  background-position: -559px -867px;
}
.icon-place {
  min-height: 24px;
  padding-left: 16px;
  background-position: 0 -1000px;
}
.icon-envelope {
  min-height: 16px;
  padding-left: 24px;
  background-position: 0 -538px;
}
.icon-smartphone {
  min-height: 24px;
  padding-left: 14px;
  background-position: 0 -1129px;
}

// Define policies explanatory note styles
.policy-description{
  font-size: 0.875em;
  text-align: justify;
  padding: $grid-gutter-width/2 2*$grid-gutter-width/3 $grid-gutter-width/3;
  margin-top: $grid-gutter-width;
  margin-bottom: 0;
  background: mix( $brand-secondary, white, 30% );

  a{
    font-weight: $font-weight-600;
  }
}
