<p class="intro-text" style="text-align: center">{{ _('Escoge las opciones que mejor reflejen tu realidad. Puedes modificar cada uno de los elementos de forma independiente.')|safe }}</p>

<form class="form-user-incomings" action="#" method="get">

  <h3>{{ _('Tus datos') }}</h3>

  <div class="row">
    <div class="form-group">
      <label for="select-house">{{ _('Vivienda') }}</label>
      <select id="select-house" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('Vivienda de 60 m² en un barrio') }}</option>
        <option value="2" type="text">{{ _('Vivienda de 80 m²') }}</option>
        <option value="3" type="text">{{ _('Vivienda de 95 m²') }}</option>
        <option value="4" type="text">{{ _('Vivienda de 110 m² en barrio nueva construcción') }}</option>
        <option value="5" type="text">{{ _('Vivienda de 115 m² en el centro de la ciudad') }}</option>
        <option value="6" type="text">{{ _('Vivienda de 121 m² situada en una avenida principal') }}</option>
        <option value="7" type="text">{{ _('Vivienda de 125 m² en barrio nueva construcción') }}</option>
        <option value="8" type="text">{{ _('Vivienda adosada de 145 m²') }}</option>
        <option value="9" type="text">{{ _('Vivienda unifamiliar de 359 m² en zona residencial') }}</option>
      </select>
    </div>

    <div class="form-group" style="clear: both">
      <label for="select-house-social">{{ _('¿Tiene bonificación por VPO o vivienda social?') }}</label>
      <select id="select-house-social" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('No') }}</option>
        <option value="2" type="text">{{ _('Sí, por VPO') }}</option>
        <option value="3" type="text">{{ _('Sí, por vivienda social') }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="select-house-social-years">{{ _('Años desde la construcción') }}</label>
      <select id="select-house-social-years" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('1, 2 y 3 años') }}</option>
        <option value="2" type="text">{{ _('4 años') }}</option>
        <option value="3" type="text">{{ _('5 años') }}</option>
        <option value="4" type="text">{{ _('6 años') }}</option>
        <option value="5" type="text">{{ _('7 años') }}</option>
        <option value="6" type="text">{{ _('8 años') }}</option>
        <option value="7" type="text">{{ _('9 años') }}</option>
        <option value="8" type="text">{{ _('10 años en adelante') }}</option>
      </select>
    </div>

    <div class="form-group" style="clear: both">
      <label for="select-energy">{{ _('Clasificación energética') }}</label>
      <select id="select-energy" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('No se aplica') }}</option>
        <option value="1" type="text">{{ _('Clase energética A') }}</option>
        <option value="2" type="text">{{ _('Clase energética B') }}</option>
        <option value="3" type="text">{{ _('Energías renovables') }}</option>
      </select>
    </div>

    <div class="form-group" style="clear: both">
      <label for="select-bizigune">{{ _('Vivienda puesta a disposición del programa de alquiler de Bizigune') }}</label>
      <select id="select-bizigune" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('Sí') }}</option>
        <option value="2" type="text">{{ _('No') }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-income">{{ _('Renta anual de la unidad familiar') }}</label>
      <div class="input-group">
        <input id="select-income" type="text" class="form-control" placeholder="{{ _('Indicar la cantidad') }}"/>
        <div class="input-group-addon">{{ _('Euros') }}</div>
      </div>
    </div>

    <div class="form-group" style="clear: both">
      <label for="select-family">{{ _('Miembros de la unidad familiar') }}</label>
      <select id="select-family" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('Una persona') }}</option>
        <option value="2" type="text">{{ _('Dos personas') }}</option>
        <option value="3" type="text">{{ _('Tres personas') }}</option>
        <option value="4" type="text">{{ _('Cuatro personas') }}</option>
        <option value="5" type="text">{{ _('Cinco personas') }}</option>
        <option value="6" type="text">{{ _('Seis personas') }}</option>
        <option value="7" type="text">{{ _('Siete personas') }}</option>
        <option value="8" type="text">{{ _('Ocho personas') }}</option>
        <option value="9" type="text">{{ _('Nueve personas') }}</option>
        <option value="10" type="text">{{ _('Diez personas') }}</option>
        <option value="11" type="text">{{ _('Once personas') }}</option>
        <option value="12" type="text">{{ _('Doce personas o más') }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="select-large-family">{{ _('¿Es familia numerosa?') }}</label>
      <select id="select-large-family" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('Sí') }}</option>
        <option value="2" type="text">{{ _('No') }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-vehicle">{{ _('Vehículo') }}</label>
      <select id="select-vehicle" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('Ninguno') }}</option>
        <option value="2" type="text">{{ _('Motocicletas hasta 125 cc') }}</option>
        <option value="3" type="text">{{ _('Turismo pequeño (8-12 c. fiscales)') }}</option>
        <option value="4" type="text">{{ _('Turismo mediano (12-16 c. fiscales)') }}</option>
        <option value="5" type="text">{{ _('Turismo grande (16-20 c. fiscales)') }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="select-extra-vehicle">{{ _('Vehículo adicional') }}</label>
      <select id="select-extra-vehicle" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('Ninguno') }}</option>
        <option value="2" type="text">{{ _('Motocicletas hasta 125 cc') }}</option>
        <option value="3" type="text">{{ _('Turismo pequeño (8-12 c. fiscales)') }}</option>
        <option value="4" type="text">{{ _('Turismo mediano (12-16 c. fiscales)') }}</option>
        <option value="5" type="text">{{ _('Turismo grande (16-20 c. fiscales)') }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="select-disability">{{ _('¿Tiene exención por discapacidad?') }}</label>
      <select id="select-disability" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('Sí') }}</option>
        <option value="2" type="text">{{ _('No') }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="select-extra-eco">{{ _('¿Es vehículo eléctrico o híbrido?') }}</label>
      <select id="select-extra-eco" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('Eléctrico') }}</option>
        <option value="2" type="text">{{ _('Híbrido') }}</option>
        <option value="3" type="text">{{ _('No') }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="select-eco">{{ _('¿Es vehículo eléctrico o híbrido?') }}</label>
      <select id="select-eco" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('Eléctrico') }}</option>
        <option value="2" type="text">{{ _('Híbrido') }}</option>
        <option value="3" type="text">{{ _('No') }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="select-extra-historic">{{ _('¿Es vehículo histórico?') }}</label>
      <select id="select-extra-historic" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('Sí') }}</option>
        <option value="2" type="text">{{ _('No') }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="select-historic">{{ _('¿Es vehículo histórico?') }}</label>
      <select id="select-historic" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Seleccionar una opción') }}</option>
        <option value="1" type="text">{{ _('Sí') }}</option>
        <option value="2" type="text">{{ _('No') }}</option>
      </select>
    </div>
  </div>

</form>

<div id="tax-amount">
  <div class="select-info">{{ _('IBI') }}: <span id="select-house-tax"></span></div>
  <div class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-vehicle-tax"></span></div>
  <div class="select-info">{{ _('Tasa de basuras') }}: <span id="select-garbage-tax"></span></div>
  <br/>
  <p>{{ _('Contribuyes con un total de <strong id="tax-amount-paid"></strong> a los presupuestos del Gobierno de Aragón')|safe }}.</p>
</div>
