<script>
  $(function() {

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }},
        getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}'),
        gridData = breakdownToTable(breakdown),
        myGrid;

    var isSocialHouse = function() {
      var houseSocialValues = [false, false, true, true]
      return houseSocialValues[+$('#select-house-social').val()];
    }

    var isLargeFamily = function() {
      var largeFamilyValues = [false, true, false];
      return largeFamilyValues[+$("#select-large-family").val()];
    }

    var familyMembers = function() {
      var familyValues = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
      return familyValues[+$("#select-family").val()];
    }

    var familyIncome = function() {
      var value = parseFloat($("#select-income").val().replace(/\./g, "").replace(/,/, ".")).toFixed(0);
      if (isNaN(value)) {
        $("#select-income").val("")
        value = Infinity;
      }
      return value;
    }

    // El cálculo de la renta familiar estandarizada se especifica en el decreto del Gobierno Vasco:
    // https://www.euskadi.eus/bopv2/datos/textosconsolidados/201203605_vigentea.pdf
    var standarizedIncome = function() {
      var members = familyMembers();
      var income = familyIncome();

      var adults = 2;
      var coeficient = 1.5;
      var childs = members - adults;
      coeficient += childs * 0.3;
      return income / coeficient;
    };

    // SMI for 2023
    SMI = 15120;

    // Tax calculations
    TaxReceipt.taxes.house.values = [0, 0, 0, 382.34, 384.59, 361.57, 698.96, 477.21, 484.07, 1449.05];
    TaxReceipt.taxes.house.callback = function(selector, values) {
      // selector value is 'house'
      if (+$('#select-house').val() == 0) {
        $("#select-house-social").prop('disabled', true);
        $("#select-house-social").val(0);
        $("#select-energy").prop('disabled', true);
        $("#select-energy").val(0);
        $("#select-bizigune").prop('disabled', true);
        $("#select-bizigune").val(0);
      } else {
        $("#select-house-social").prop('disabled', false);
        $("#select-energy").prop('disabled', false);
        $("#select-bizigune").prop('disabled', false);
      }

      if (isSocialHouse()) {
        $("#select-house-social-years").prop('disabled', false);
      } else {
        $("#select-house-social-years").prop('disabled', 'disabled');
        $("#select-house-social-years").val(0);
      }

      if (+$('#select-family').val() < 3) {
        $("#select-large-family").prop('disabled', true);
        $("#select-large-family").val(0);
      } else {
        $("#select-large-family").prop('disabled', false);
      }

      var socialBonusValues = [
        [0, 0, 0, 0, 0, 0, 0, 0, 0],              // No choice
        [0, 0, 0, 0, 0, 0, 0, 0, 0],              // No benefit
        [0, 0.5, 0.3, 0.2, 0.1, 0, 0, 0, 0],      // VPO
        [0, 0.5, 0.3, 0.2, 0.1, 0.2, 0.1, 0.1, 0] // Social housing
      ];
      var socialBonus = socialBonusValues[+$('#select-house-social').val()][+$("#select-house-social-years").val()];

      var energyBonusValues = [0, 0.5, 0.25, 0.5];
      var energyBonus = energyBonusValues[+$('#select-energy').val()];

      var biziguneBonusValues = [0, 0.5, 0];
      var biziguneBonus = biziguneBonusValues[+$('#select-bizigune').val()];

      var stdIncome = standarizedIncome();

      var familyBonus;
      if (!isLargeFamily()) {
        familyBonus = 0;
      } else {
        if (stdIncome <= (SMI*2).toFixed(2)) {
          familyBonus = 0.9;
        } else if (stdIncome > (SMI*2).toFixed(2) && stdIncome <= (SMI*2.5).toFixed(2)) {
          familyBonus = 0.5;
        } else if (stdIncome > (SMI*2.5).toFixed(2) && stdIncome <= (SMI*2.75).toFixed(2)) {
          familyBonus = 0.1;
        } else {
          familyBonus = 0;
        }
      }

      var members = familyMembers();
      var income = familyIncome();

      var incomeBonus;
      if (income <= 21000 && members == 1) {
        incomeBonus = 0.3;
      } else if (income <= 21000 && members == 2) {
        incomeBonus = 0.3;
      } else if (income <= 21000 && members == 3) {
        incomeBonus = 0.5;
      } else if (income <= 21000 && members == 4) {
        incomeBonus = 0.75;
      } else if (income <= 21000 && members >= 5) {
        incomeBonus = 0.95;
      } else if (income > 21000 && income <= 28000 && members == 3) {
        incomeBonus = 0.3;
      } else if (income > 21000 && income <= 28000 && members == 4) {
        incomeBonus = 0.5;
      } else if (income > 21000 && income <= 28000 && members >= 5) {
        incomeBonus = 0.95;
      } else if (income > 28000 && income <= 35000 && members == 4) {
        incomeBonus = 0.4;
      } else if (income > 28000 && income <= 35000 && members >= 5) {
        incomeBonus = 0.9;
      } else if (income > 35000 && income <= 42000 && members == 4) {
        incomeBonus = 0.3;
      } else if (income > 35000 && income <= 42000 && members >= 5) {
        incomeBonus = 0.75;
      } else {
        incomeBonus = 0;
      }

      var cumulativeBonus = Math.min(1, (socialBonus + energyBonus + biziguneBonus + familyBonus))
      return values[+$('#select-house').val()] * (1 - Math.max(cumulativeBonus, incomeBonus));
    };

    // Impuesto de vehículos
    // Ordenanza: https://www.vitoria-gasteiz.org/docs/wb021/contenidosEstaticos/adjuntos/es/32/43/103243.pdf#page=89
    TaxReceipt.taxes.vehicle.values = [0, 0, 10.86, 74.31, 165.14, 220.34];
    TaxReceipt.taxes.vehicle.callback = function(selector, values) {
      // selector value is 'vehicle'
      if (+$('#select-vehicle').val() <= 1) {
        $("#select-disability").prop('disabled', true);
        $("#select-disability").val(0);
        $("#select-extra-vehicle").prop('disabled', true);
        $("#select-extra-vehicle").val(0);
        $("#select-eco").prop('disabled', true);
        $("#select-eco").val(0);
        $("#select-historic").prop('disabled', true);
        $("#select-historic").val(0);
      } else {
        $("#select-disability").prop('disabled', false);
        $("#select-extra-vehicle").prop('disabled', false);
        $("#select-eco").prop('disabled', false);
        $("#select-historic").prop('disabled', false);
      }

      if (+$('#select-extra-vehicle').val() <= 1 ) {
        $("#select-extra-eco").prop('disabled', true);
        $("#select-extra-eco").val(0);
        $("#select-extra-historic").prop('disabled', true);
        $("#select-extra-historic").val(0);
      } else {
        $("#select-extra-eco").prop('disabled', false);
        $("#select-extra-historic").prop('disabled', false);
      }

      var ecoBonusValues = [0, 0.9, 0.5, 0];
      var ecoBonus = ecoBonusValues[+$('#select-eco').val()];
      var ecoBonusExtra = ecoBonusValues[+$('#select-extra-eco').val()];

      var disabilityBonusValues = [0, 1, 0];
      var disabilityBonus = disabilityBonusValues[+$('#select-disability').val()];

      var historicBonusValues = [0, 0.9, 0];
      var historicBonus = historicBonusValues[+$('#select-historic').val()];
      var historicBonusExtra = historicBonusValues[+$('#select-extra-historic').val()];

      var familyBonus = 0;
      if (isLargeFamily()) {
        // La ordenanza especifica que se usa la renta familiar estandarizada
        var stdIncome = standarizedIncome();
        if (stdIncome <= (SMI*2).toFixed(2)) {
          familyBonus = 0.2;
        } else if (stdIncome <= (SMI*2.5).toFixed(2)) {
          familyBonus = 0.15;
        } else if (stdIncome <= (SMI*2.75).toFixed(2)) {
          familyBonus = 0.1;
        }
      }

      var cumulativeBonus = Math.min(1, (ecoBonus + disabilityBonus + historicBonus + familyBonus));
      // La bonificación por discapacidad y familia numerosa aplican solo al primer vehículo,
      // según la ordenanza enlazada más arriba.
      var cumulativeBonusExtra = Math.min(1, (ecoBonusExtra + historicBonusExtra));
      return values[+$('#select-vehicle').val()] * (1 - cumulativeBonus) +
             values[+$('#select-extra-vehicle').val()] * (1 - cumulativeBonusExtra);
    };

    TaxReceipt.taxes.garbage.values = [0, 1, 1, 1, 1, 1, 3, 2, 3, 4];
    TaxReceipt.taxes.garbage.callback = function(selector, values) {
      // selector value is 'garbage'
      var members = familyMembers();
      var income = familyIncome();

      var garbageValues = [0, 56.76, 83.73, 87.08, 107.09];
      var taxIndex = values[+$('#select-house').val()];
      if (isLargeFamily() && taxIndex != 0) {
        taxIndex = Math.max(1, taxIndex - 1);
      }

      // Thresholds from https://www.vitoria-gasteiz.org/docs/wb021/contenidosEstaticos/adjuntos/es/40/54/94054.pdf
      var familyBonusThresholds = {
        1:  24000.0,
        2:  28000.0,
        3:  30092.0,
        4:  32120.70,
        5:  33759.22,
        6:  35497.96,
        7:  36386.10,
        8:  37686.53,
        9:  41455.18,
        10: 45600.70
      };
      var familyBonus = 0;
      if (members > 0 && members <= 10 && income <= familyBonusThresholds[members]) {
        familyBonus = 0.1;
      }
      if (members > 10 && income <= familyBonusThresholds[10]) {
        familyBonus = 0.1;
      }

      var familyMalusValues = {
        0: 0.0,
        4: 0.04,
        5: 0.06,
        6: 0.08,
        7: 0.1,
        8: 0.12
      };
      var familyMalus = 0;
      var malusIndex = members;
      if (members < 4) {
        malusIndex = 0;
      }
      if (members > 8) {
        malusIndex = 8;
      }
      familyMalus = familyMalusValues[malusIndex];
      if (isLargeFamily()) {
        familyMalus *= 0.5
      }

      var tax = garbageValues[taxIndex];
      return tax - (tax * familyBonus) + (tax * familyMalus);
    };

    // Remove unused taxes
    delete TaxReceipt.taxes.vehicleExtra;
    delete TaxReceipt.taxes.parking;

    // Override redrawGrid method
    TaxReceipt.redrawGrid = function() {
      if ( myGrid !== undefined ) {
        myGrid.destroy();
      }

      myGrid = createBudgetGrid('#myGrid', gridData, [
        { data: 'label', title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data:   getBreakdownValue,
          title:  '{{ _("Gasto") }}',
          render: TaxReceipt.calculatePersonalTax,
          year:   breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    };

    // Initialize tax receipt
    TaxReceipt.setup( breakdown, getBreakdownValue );

    // Currency mask for income input
    $("#select-income").change(function() {
      $("#select-income").val(familyIncome().replace(/(\d)(?=(?:\d{3})+\b)/g, "$1."));
    });

    $("#select-income").on("keypress", function(event) {
      var keycode = event.which;
      if (keycode == 13)
        $("#select-family").trigger("focus");
    });

  });
</script>
