<script>
  $(function() {

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }},
        getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}'),
        gridData = breakdownToTable(breakdown),
        myGrid;

    var isSocialHouse = function() {
      var houseSocialValues = [false, false, true, true]
      return houseSocialValues[+$('#select-house-social').val()];
    }

    var isLargeFamily = function() {
      var largeFamilyValues = [false, true, false];
      return largeFamilyValues[+$("#select-large-family").val()];
    }

    var familyMembers = function() {
      var familyValues = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
      return familyValues[+$("#select-family").val()];
    }

    var familyIncome = function() {
      var value = parseFloat($("#select-income").val().replace(/\./g, "").replace(/,/, ".")).toFixed(0);
      if (isNaN(value)) {
        value = 0;
      }
      return value;
    }

    // SMI for 2018
    SMI = 10302.60;

    // Tax calculations
    TaxReceipt.taxes.house.values = [0, 0, 0, 378.79, 381.01, 358.21, 692.47, 472.78, 479.57, 1435.59];
    TaxReceipt.taxes.house.callback = function(selector, values) {
      // selector value is 'house'
      if (+$('#select-house').val() == 0) {
        $("#select-house-social").prop('disabled', true);
        $("#select-house-social").val(0);
        $("#select-energy").prop('disabled', true);
        $("#select-energy").val(0);
      } else {
        $("#select-house-social").prop('disabled', false);
        $("#select-energy").prop('disabled', false);
      }

      if (isSocialHouse()) {
        $("#select-house-social-years").prop('disabled', false);
      } else {
        $("#select-house-social-years").prop('disabled', 'disabled');
        $("#select-house-social-years").val(0);
      }

      if (+$('#select-family').val() < 3) {
        $("#select-large-family").prop('disabled', true);
        $("#select-large-family").val(0);
      } else {
        $("#select-large-family").prop('disabled', false);
      }

      var socialBonusThresholds = {
        1:  26482.45,
        2:  26482.45,
        3:  28783.64,
        4:  30724.13,
        5:  32291.43,
        6:  33547.76,
        7:  34804.09,
        8:  36047.98,
        9:  39652.78,
        10: 43618.05,
        11: 47979.85,
        12: 52777.85
      };
      var socialBonusValues = [[0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0.5, 0.3, 0.2, 0.1, 0, 0], [0, 0.5, 0.3, 0.2, 0.2, 0.1, 0]];
      var socialBonus = socialBonusValues[+$('#select-house-social').val()][+$("#select-house-social-years").val()];
      if (familyIncome() > socialBonusThresholds[familyMembers()]) {
        socialBonus = 0;
      }

      var energyBonusValues = [0, 0.5, 0.25, 0.5];
      var energyBonus = energyBonusValues[+$('#select-energy').val()];

      var income = familyIncome();

      var familyBonus;
      if (!isLargeFamily()) {
        familyBonus = 0;
      } else {
        if (income <= SMI*2) {
          familyBonus = 0.9;
        } else if (income > SMI*2 && income <= SMI*2.5) {
          familyBonus = 0.5;
        } else if (income > SMI*2.5 && income <= SMI*2.75) {
          familyBonus = 0.1;
        } else {
          familyBonus = 0;
        }
      }

      var incomeBonus;
      if (income <= 3300) {
        incomeBonus = 0.9;
      } else if (income > 3300 && income <= 6600) {
        incomeBonus = 0.75;
      } else if (income > 6600 && income <= 9900) {
        incomeBonus = 0.6;
      } else if (income > 9900 && income <= 13200) {
        incomeBonus = 0.5;
      } else if (income > 13200 && income <= 16500) {
        incomeBonus = 0.4;
      } else if (income > 16500 && income <= 19800) {
        incomeBonus = 0.3;
      }else if (income > 19800 && income <= 21000) {
        incomeBonus = 0.2;
      } else {
        incomeBonus = 0;
      }

      var cummulativeBonus = Math.min(1, (socialBonus + energyBonus + familyBonus))
      return values[+$('#select-house').val()] * (1 - Math.max(cummulativeBonus, incomeBonus));
    };

    TaxReceipt.taxes.vehicle.values = [0, 0, 72.91, 162.03, 216.19];
    TaxReceipt.taxes.vehicle.callback = function(selector, values) {
      // selector value is 'vehicle'
      if (+$('#select-vehicle').val() <= 1) {
        $("#select-disability").prop('disabled', true);
        $("#select-disability").val(0);
        $("#select-extra-vehicle").prop('disabled', true);
        $("#select-extra-vehicle").val(0);
      } else {
        $("#select-disability").prop('disabled', false);
        $("#select-extra-vehicle").prop('disabled', false);
      }

      if (+$('#select-disability').val() != 2) {
        $("#select-eco").prop('disabled', true);
        $("#select-eco").val(0);
        $("#select-historic").prop('disabled', true);
        $("#select-historic").val(0);
      } else {
        $("#select-eco").prop('disabled', false);
        $("#select-historic").prop('disabled', false);
      }

      if (+$('#select-extra-vehicle').val() <= 1 ) {
        $("#select-extra-eco").prop('disabled', true);
        $("#select-extra-eco").val(0);
        $("#select-extra-historic").prop('disabled', true);
        $("#select-extra-historic").val(0);
      } else {
        $("#select-extra-eco").prop('disabled', false);
        $("#select-extra-historic").prop('disabled', false);
      }

      var ecoBonusValues = [0, 0.9, 0.5, 0];
      var ecoBonus = ecoBonusValues[+$('#select-eco').val()];
      var ecoBonusExtra = ecoBonusValues[+$('#select-extra-eco').val()];

      var disabilityBonusValues = [0, 1, 0];
      var disabilityBonus = disabilityBonusValues[+$('#select-disability').val()];

      var historicBonusValues = [0, 0.9, 0];
      var historicBonus = historicBonusValues[+$('#select-historic').val()];
      var historicBonusExtra = historicBonusValues[+$('#select-extra-historic').val()];

      var familyBonusValues = [0, 0.1, 0];
      var familyBonus = familyBonusValues[+$('#select-large-family').val()];

      var cummulativeBonus = Math.min(1, (ecoBonus + disabilityBonus + historicBonus + familyBonus));
      var cummulativeBonusExtra = Math.min(1, (ecoBonusExtra + historicBonusExtra));

      return values[+$('#select-vehicle').val()] * (1 - cummulativeBonus) +
             values[+$('#select-extra-vehicle').val()] * (1 - cummulativeBonusExtra);
    };

    TaxReceipt.taxes.garbage.values = [0, 1, 1, 1, 1, 1, 2, 2, 2, 3];
    TaxReceipt.taxes.garbage.callback = function(selector, values) {
      // selector value is 'garbage'
      var members = familyMembers();
      var income = familyIncome();

      var garbageValues = [0, 55.09, 81.28, 103.95];
      var taxIndex = values[+$('#select-house').val()];
      if (isLargeFamily() && taxIndex != 0) {
        taxIndex = Math.max(1, taxIndex - 1);
      }

      var familyBonusThresholds = {
        1:  24000.0,
        2:  28000.0,
        3:  30092.0,
        4:  32120.70,
        5:  33759.22,
        6:  35497.96,
        7:  36386.10,
        8:  37686.53
      };
      var familyBonus = 0.1;
      if (members <= 8 && income > familyBonusThresholds[members]) {
        familyBonus = 0;
      }

      var familyMalusValues = {
        0: 0.0,
        4: 0.04,
        5: 0.06,
        6: 0.08,
        7: 0.1,
        8: 0.12
      };
      var familyMalus = 0;
      var malusIndex = members;
      if (members < 4) {
        malusIndex = 0;
      }
      if (members > 8) {
        malusIndex = 8;
      }
      familyMalus = familyMalusValues[malusIndex];
      if (isLargeFamily()) {
        familyMalus *= 0.5
      }

      var tax = garbageValues[taxIndex];
      return tax - (tax * familyBonus) + (tax * familyMalus);
    };

    // Remove unused taxes
    delete TaxReceipt.taxes.vehicleExtra;
    delete TaxReceipt.taxes.parking;

    // Override redrawGrid method
    TaxReceipt.redrawGrid = function() {
      if ( myGrid !== undefined ) {
        myGrid.destroy();
      }

      myGrid = createBudgetGrid('#myGrid', gridData, [
        { data: 'label', title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data:   getBreakdownValue,
          title:  '{{ _("Gasto") }}',
          render: TaxReceipt.calculatePersonalTax,
          year:   breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    };

    // Initialize tax receipt
    TaxReceipt.setup( breakdown, getBreakdownValue );

    // Currency mask for income input
    $("#select-income").change(function() {
      $("#select-income").val(familyIncome().replace(/(\d)(?=(?:\d{3})+\b)/g, "$1."));
    });

    $("#select-income").on("keypress", function(event) {
      var keycode = event.which;
      if (keycode == 13)
        $("#select-family").trigger("focus");
    });

  });
</script>