{% load i18n %}

<footer class="main-footer">
  <div class="container">
    <p class="credit-aragon">
      <span>{{ _('Un proyecto de') }}</span>
      <a href="https://civio.es" class="link-civio" target="_blank">Civio</a>
      <span>&nbsp;{{ _('basado en el código de') }} </span>
      <a href="http://opendata.aragon.es" class="link-aragon" target="_blank">Open Data Aragón </a>
    </p>
  </div>
  <div id="anclaFooter" class="container">
    <div class="row final-footer">
      <div class="footer-logo hidden-xs hidden-sm col-md-2">
        <a href="{{ main_entity_web_url }}?idioma={{ LANGUAGE_CODE }}" title="{{ _('Gobierno de Aragón') }}">
          <img src="http://www.vitoria-gasteiz.org/http/we001/include/assets/images/council-logo-desktop.png" alt="{{ _('Gobierno de Aragón') }}">
        </a>
      </div>
      <address class="col-xs-12 col-sm-12 col-md-5">
          <a href="http://www.vitoria-gasteiz.org/j16-02w/inicio.do?idioma={{ LANGUAGE_CODE }}&amp;accesodirecto#det,3575" class="icon-place" title="Dirección del Ayuntamiento de Vitoria-Gasteiz: Plaza España 1, 01001 Vitoria-Gasteiz">{{ _('Plaza España 1, 01001 Vitoria-Gasteiz') }}</a>
          <a href="tel:+34945161616" class="hidden-xs hidden-md hidden-lg" title="Numero de telefono del ayuntamiento de Vitoria-Gasteiz: +34 945161616">+34 945161616</a>
          <a href="mailto:informacion@vitoria-gasteiz.org" class="icon-envelope mail" title="informacion@vitoria-gasteiz.org">informacion@vitoria-gasteiz.org</a>
          <a href="tel:+34945161616" class="hidden-sm telephone icon-smartphone" title="Numero de telefono del ayuntamiento de Vitoria-Gasteiz: +34 945161616">+34 945161616</a>
      </address>
      <div class="footer-logo col-xs-12 hidden-md hidden-lg">
        <a href="{{ main_entity_web_url }}?idioma={{ LANGUAGE_CODE }}" title="Ir a Ayuntamiento de Vitoria-Gasteiz">
          <img class="hidden-sm logoFooter" src="http://www.vitoria-gasteiz.org/http/we001/include/assets/images/council-logo-phone.png" alt="Logotipo del Ayuntamiento de Vitoria-Gasteiz">
          <img class="hidden-xs logoFooter" src="http://www.vitoria-gasteiz.org/http/we001/include/assets/images/council-logo-tablet.png" alt="Logotipo del Ayuntamiento de Vitoria-Gasteiz">
        </a>
      </div>
      <div class="footer-menu col-xs-12 col-md-5">
        <p>©{{ _('Gobierno de Aragón') }}</p>
        <ul>
          <li><a href="http://www.vitoria-gasteiz.org/we001/was/we001Action.do?idioma={{ LANGUAGE_CODE }}&amp;aplicacion=wb021&amp;tabla=contenido&amp;uid=u_1dc1e845_14a0e91afa2__7e40&amp;accion=contenido" title="{{ _('Aviso legal') }}">{{ _('Aviso legal') }}</a></li>
          <li><a href="http://www.vitoria-gasteiz.org/we001/was/we001Action.do?idioma={{ LANGUAGE_CODE }}&amp;aplicacion=wb021&amp;tabla=contenido&amp;uid=u_1dc1e845_14a0e91afa2__7e3e&amp;accion=contenido" title="{{ _('Privacidad') }}">{{ _('Privacidad') }}</a></li>
          <li><a href="http://www.vitoria-gasteiz.org/we001/was/we001Action.do?idioma={{ LANGUAGE_CODE }}&amp;aplicacion=wb021&amp;tabla=contenido&amp;uid=u_461abf8_12ddff4e915__7f6b" title="{{ _('Ayuda') }}">{{ _('Ayuda') }}</a></li>
          <li><a href="http://www.vitoria-gasteiz.org/we001/was/we001Action.do?idioma={{ LANGUAGE_CODE }}&amp;aplicacion=wb021&amp;tabla=contenido&amp;uid=u556113a_134d587372f__7fc2" title="{{ _('Mapa web') }}">{{ _('Mapa web') }}</a></li>
          <li><a href="http://www.vitoria-gasteiz.org/we001/was/we001Action.do?idioma={{ LANGUAGE_CODE }}&amp;aplicacion=wb021&amp;tabla=contenido&amp;uid=141d8b27_11b7c821284__7fe9&amp;accion=contenido" title="{{ _('Accesibilidad') }}">{{ _('Accesibilidad') }}</a></li>
        </ul>
      </div>
    </div> <!-- row final-footer -->
  </div>

</footer>

